@using CurrencyConverter.ViewModels
@model CurrencyViewModel
<div class="container border border-dark m-3 bg-light rounded">
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <span>@Model.Value1</span>
                    <span>@Model.Name1</span>
                    <span>равно</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h3 class="font-weight-bold">@Model.Value2  @Model.Name2</h3>
                </div>
            </div>
            <form asp-action="Index" method="get" id="first_form">
                <div class="row mt-5">
                    <div class="col-6 form-group">
                        <input asp-for="@Model.Value1" id="first_currency" type="text" class="form-control" value="@Model.Value1" />
                    </div>
                    <div class="col-6 form-group">
                        <select onchange="$(this.form).submit();" class="form-control selectpicker border" data-live-search="true" asp-for="@Model.Name1" asp-items="Model.CurrencyNames">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <input type="hidden" name="from_two_input" value="false" id="temp_input" />
                        <input asp-for="@Model.Value2" type="text" class="form-control" id="second_currency" value="@Model.Value2" />
                    </div>
                    <div class="col-6 form-group">
                        <select onchange="$(this.form).submit();" class="form-control selectpicker border" data-live-search="true" asp-for="@Model.Name2" asp-items="Model.CurrencyNames">
                        </select>
                    </div>
                </div>
                <input id="gap_input" type="hidden" name="gap" value="month" />
            </form>
        </div>
        <div class="col-7">
            <div class="m-1 d-flex justify-content-center"  aria-label="Basic example">                 
                <button id="five_days" type="button" class="btn btn-secondary">5ДН</button>
                <button id="month" type="button" class="btn btn-secondary">1МЕС</button>
                <button id="year" type="button" class="btn btn-secondary">1ГОД</button>
            </div>
            <vc:chartjs data="@Model.data" labels="@Model.labels" />
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#five_days, #month, #year").on("click", function (event) {
                $("#gap_input").val(event.target.id);
                $("#first_form").submit();
            });
            $("#second_currency").on("keyup", function () {
                let value = $("#second_currency").val();
                let tmp = value.split(",").join(".");
                let k = 0;
                for (let i of tmp) {
                    if (i === ".")
                        k++;
                }
                if (k > 1) {
                    $("#first_currency").val("");
                    return;
                }
                $("#second_currency").val(tmp);
                if (value.charAt(value.length - 1) === "," || value.charAt(value.length - 1) === "." || value.trim() === "") {
                    $("#first_currency").val("");
                }
                else {
                    $("#temp_input").val("true");
                    $("#first_form").submit();
                }
            });
            $("#first_currency").on("keyup", function () {
                let value = $("#first_currency").val();
                let tmp = value.split(",").join(".");
                let k = 0;
                for (let i of tmp) {
                    if (i === ".")
                        k++;
                }
                if (k > 1) {
                    $("#second_currency").val("");
                    return;
                }
                $("#first_currency").val(tmp);
                if (value.charAt(value.length - 1) === "," || value.charAt(value.length - 1) === "." || value.trim() === "") {
                    $("#second_currency").val("");
                }
                else {
                    $("#temp_input").val("false");
                    $("#first_form").submit();
                }
            });
        });
    </script>
}
